<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <UserName>$ScoreFunction</UserName>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://scorefunction.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7ace342f-496b-4580-bf8f-ee950d0420a2/resourcegroups/TetherGroup/providers/Microsoft.Web/sites/ScoreFunction</ResourceId>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://scorefunction.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>